.x-grid-row-summary .x-grid-cell-inner {
	font-weight: bold;
	font-size: 11px;
}


#poweredby {
	position: absolute;
	bottom: 40px;
	right: 20px;
	z-index: 15000;

	/* IE 5-7 */
	filter: alpha(opacity=70);
	/* Netscape */
	-moz-opacity: 0.7;
	/* Safari 1.x */
	-khtml-opacity: 0.7;
	/* Good browsers */
	opacity: 0.7;
}

#poweredby div {
	position: relative;
	width: 150px;
	height: 25px;
	background-image: url(../images/powered-by-ext-js.png);
	background-repeat: no-repeat;
}

/* The simple background image PNG does not work in IE6-8, but does in IE9 */
.x-ie6 #poweredby div,
.x-ie7 #poweredby div,
.x-ie8 #poweredby div {
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/powered-by-ext-js.png', sizingMethod='scale');
}

/*----------------------------------------------------
	Start Button
*/

.ux-start-button-icon {background-image: url(../images/taskbar/sencha.gif) !important;background-color: transparent;}
.ux-start-button .x-btn-arrow {background-image: none;}

.ux-start-button .x-btn-arrow-right {padding-left: 10px;}

.ux-taskbar {padding-left: 4px !important;}

/*
	Start Button (Black)
*/

.ux-desktop-black .ux-start-button {height: 28px;padding: 0px;display: block;}
.ux-desktop-black .ux-start-button em {margin-top: 5px;}
.ux-desktop-black .ux-start-button .x-btn-inner {color: black;font-size:11px;font-weight: bold;}
.ux-desktop-black .ux-start-button {background-image: -moz-linear-gradient(center top , #E4F3FF, #D9EDFF 48%, #C2D8F2 52%, #C6DCF6);border-radius: 8px 8px 8px 8px;border-color: #81A4D0;}

/*----------------------------------------------------
	Start Menu
*/

.ux-start-menu-toolbar .x-btn-inner {text-align: left;}
.ux-start-menu-toolbar {padding: 4px !important;}

/*----------------------------------------------------
	TaskBar
*/

.ux-taskbar .x-toolbar {background: transparent none;border-color: transparent;}
.x-ie6 .ux-taskbar .x-toolbar {border-color: #d3e1f1;}
.ux-desktop-windowbar .x-btn-inner,
.x-nbr .ux-desktop-windowbar .x-btn-icon-text-left button {text-align: left !important;}
.ux-taskbar .x-toolbar {height: 28px;}
.ux-taskbar {height: 28px;padding: 0;}
.x-toolbar .x-toolbar {padding: 0;}

/*
	TaskBar (Black)
*/

.ux-desktop-black .ux-taskbar {background: transparent url('../images/taskbar/black/taskbar-start-panel-bg.gif') repeat-x left top;border-color: transparent;/*height: 30px;*/}
.ux-desktop-black .ux-taskbar .x-splitter {background: transparent url(../images/taskbar/black/taskbar-split-h.gif) no-repeat scroll 0 -2px;}
.ux-desktop-black .ux-taskbar .x-toolbar-text {color: white !important;}
.ux-desktop-black .ux-taskbar .x-btn-default-toolbar-small-over {background-color: yellow;}
.ux-desktop-black .ux-taskbar .x-btn-inner {color: white;}
.ux-desktop-black .ux-taskbar .x-btn-pressed .x-btn-inner, .ux-taskbar .x-btn-over .x-btn-inner {color: black;}

/*----------------------------------------------------
	Tray Clock
*/

.ux-desktop-trayclock {text-align: center;vertical-align: middle;padding-top: 0;padding-bottom: 0;}

/*----------------------------------------------------
	Desktop DataView
*/

.ux-wallpaper {background-color: #3d71b8;}
.ux-wallpaper-tiled {background-repeat: repeat;}
.ux-desktop-shortcut {cursor: pointer;position: absolute;text-align: center;padding: 8px;margin: 8px;width: 64px;}
.ux-desktop-shortcut-icon {width: 48px;height: 48px;background-color: transparent;background-repeat: no-repeat;}
.ux-desktop-shortcut-text {font: normal 10px tahoma,arial,verdana,sans-serif;text-decoration: none;padding-top: 5px;color: white;}
.x-view-over .ux-desktop-shortcut-text {text-decoration: underline;}

/*----------------------------------------------------
	other icons
*/

body{-webkit-font-smoothing:antialiased;font:11px / 1.231 HelveticaNeue,helvetica,arial,clean,sans-serif;color:#484848}
a{color:#083772;text-decoration:none;}
a:hover{color:#0464bb;}

.caixa_cores{width:15px;height:15px;border:1px solid black;}
.caixa_cores_combo{width:15px;height:15px;border:1px solid black;float:left; margin-right: 4px;}

.build_sys{font-size: 12px!important;color: #666!important;}

.amarelo .x-grid-cell{background-color: #FFFFB7;}
.verde .x-grid-cell{background-color: #D1EED1;}
.verde2 .x-grid-cell{background-color: #6f6;}
.verde3 .x-grid-cell{background-color: #ccffcc;}
.verde4 .x-grid-cell{background-color: #e6ffe6;}
.verde5 .x-grid-cell{background-color: #d7ffd7;}
.verde_precos .x-grid-cell{font-weight:bold;background-color:#D1EED1;}
.texto_precos .x-grid-cell{color: #D3D3D3;}
.vermelho .x-grid-cell{background-color: #EFD6D6;text-decoration: line-through;}
.vermelho2 .x-grid-cell{background-color: #fcc;}
.laranja_claro .x-grid-cell{background-color: #FBF8DB;}
.laranja .x-grid-cell{background-color: #ffeecc;}
.cinza .x-grid-cell{background-color: #808080;}
.azul .x-grid-cell{background-color: #c3daf9;}
		
.buttonFilter{color: blue;}


.title{color:#66ab16;font-size:24px !important; letter-spacing:-1px;line-height:41px;margin-left:5px !important;}
.nome{font-weight:bold;}
.msg_user{font-size: 11px; color: #333;}

.none div{
	background-image: none !important;
	background-color: red !important;
}

.guides{width:600px !important;line-height:1.7em;}

.legend{border-radius:5px;-moz-border-radius:5px;background-color:#f7f7f7;border:1px solid #ebebeb;padding:0 15px 15px 10px;margin:0 20px 10px 0;width:300px;}
.legend .icn{padding-left:22px}
.legend a{display:block}
.legend h4{font-family:HelveticaNeue,Helvetica,Arial,sans-serif;font-size:90%;padding:11px 0 5px 0;text-transform:uppercase;color:#999}

.lft{float:left;width:220px}
.mid{float:left;width:180px;margin-left:20px}
.right{margin-left:410px}

.lft a,.mid a,.right a{display:block;height:32px;margin:10px 0;padding-left:40px}

.n_doc{font-size:14px; font-weight:bold;}

.bt_contas_pagar_rel_periodo{background:url("../images/relatorio1.png") center no-repeat !important;}
.bt_contas_pagar_rel_pagtos{background:url("../images/money.png") center no-repeat !important;}
.bt_relatorios{background:url("../images/relatorios.png") no-repeat}
.bullet_green{background:url("../images/bullet_green.png") no-repeat}
.bullet_red{background:url("../images/bullet_red.png") no-repeat}
.bt_status{background:url("../images/list_items.gif") no-repeat}
.bt_reabre_os{background:url("../images/reabre_os.png") no-repeat}
.bt_finalizar_os{background:url("../images/accept.png") no-repeat}
.contatos{background:url("../images/phone.png") center no-repeat !important;}
.bt_responsavel_depto{background:url("../images/produtos_deptos_supervisor.png") no-repeat}
.bt_empresas_usuario{background:url("../images/empresas_usuario.png") no-repeat}
.bt_detalhar{background:url("../images/bt_detalhar.png") no-repeat}
.bt_modulos_usuario{background:url("../images/modulos_usuarios.png") no-repeat}
.bt_modulos_perfil{background:url("../images/modulos_usuarios.png") no-repeat}
.bt_acao2{background:url("../images/panel2.png") no-repeat}
.bt_respostas_os{background:url("../images/comments_add.png") no-repeat}
.bt_os_deptos{background:url("../images/os_deptos.png") center no-repeat !important;}
.bt_os_categorias{background:url("../images/os_categorias.png") center no-repeat !important;}
.bt_pgto_conta{background:url("../images/icon_pagto.png") center no-repeat !important;}
.bt_add_os{background:url("../images/os16x16.png") center no-repeat !important;}
.bt_edit2{background:url("../images/edit.png") center no-repeat !important;}
.upload-icon {	background: url('../images/image_add.png') no-repeat 0 0 !important; }
.bt_imprimir{background:url("../images/print.gif") no-repeat}
.bt_imprimir2{background:url("../images/printer.png") no-repeat; background-position: center;}
.bt_copiar{background:url("../images/copy.png") no-repeat}
.bt_totalizar_periodos_caixas{background: url("../images/total_plan_cost.png") no-repeat; background-position: center;}
.bt_add{background:url("../images/add.png") no-repeat}
.bt_acao{background:url("../images/acao.png") no-repeat}
.bt_reset{background:url("../images/reset.png") no-repeat 3px}
.bt_edit{background:url("../images/edit.png") no-repeat}
.bt_del{background:url("../images/delete.gif") no-repeat}
.bt_pdf{background:url("../images/pdf.png") no-repeat}
.bt_xls{background:url("../images/xls.png") no-repeat}
.bt_close{background:url("../images/cross.gif") no-repeat}
.bt_login{background:url("../images/connect.png") no-repeat}
.bt_modulo{background:url("../images/application_view_list.png") no-repeat}
.bt_save{background:url("../images/save.png") no-repeat}
.bt_cancel{background:url("../images/cross.gif") no-repeat}
.information{background-image:url('../images/information.png') !important;}
.acao{background: url('../images/acao.png') center no-repeat !important;}
.modulo{background: url('../images/modulo.png') no-repeat center !important;}
.config{background: url('../images/config.png') no-repeat !important;}

.bt_abrir_caixa{background:url("../images/caixa_abrir.png") no-repeat}
.bt_fechar_caixa{background:url("../images/caixa_fechar.png") no-repeat}
.bt_add_din_caixa{background:url("../images/caixa_add_din.png") no-repeat}
.br_retirar_din_caixa{background:url("../images/caixa_ret_din.png") no-repeat}
.bt_vendas_abertas{background:url("../images/vendas_abertas.png") center no-repeat !important;}

.logout{background:url("../images/disconnect.png") no-repeat !important;}
.pass{background:url("../images/key.png") no-repeat center !important;}
.help{background:url("../images/help.png") no-repeat center !important;}

.view-desktop{background:url("../images/desktop.png") no-repeat !important;}
.view-empresa{background:url("../images/empresa16x16.png") no-repeat !important;}
.usuario{background:url("../images/usuarios.png") no-repeat !important;}
.alterar_senha{background:url("../images/alterar_senha.png") no-repeat !important;}
.bt_refresh{background:url("../images/refresh.gif") no-repeat !important;}
.bt_lupa{background:url("../images/lupa.png") no-repeat}
.bt_lupa2{background:url("../images/lupa2.png") no-repeat}
.bt_lupa3{background:url("../images/lupa.png") center no-repeat !important;}
.bt_filtro{background:url("../images/filtro16x16.png") no-repeat}
.bt_converte{background:url("../images/converte.png") center no-repeat !important;}
.none{display:none !important;}


#poweredby{position: absolute;top: 13px;right: 25px;z-index: 15000;/*IE 5-7*/filter: alpha(opacity=70);/*Netscape*/-moz-opacity: 0.7;/*Safari 1.x*/-khtml-opacity: 0.7;/*Good browsers*/opacity: 0.7;}
#poweredby div{position: relative;width: 150px;height: 25px;background-image: url('../images/powered-by-ext-js.png');background-repeat: no-repeat;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/powered-by-ext-js.png', sizingMethod='scale');}

*{padding: 0;margin: 0;font-family: Tahoma, Geneva, sans-serif;font-size: 11px;}

.x-form-empty-field{color: black!important;}

.ext-ie .x-fieldset{padding-top:5px !important;}

#loading-mask{background-color:white;height:100%;position:absolute;left:0;top:0;width:100%;z-index:40000;}
#loading{
	height:auto;
	position:absolute;
	width:520px;
	left:35%;
	top:40%;
	z-index:40001;
}
#loading a {color:#225588;}
#loading .loading-indicator{background:white;color:#444;font:bold 13px Helvetica, Arial, sans-serif;height:auto;margin:0;padding:10px;}
#loading-msg {font-size: 10px;font-weight: normal;}

#ajax_connect {
   background: url( ../images/connect-off.gif ) center center no-repeat;
}
.ajax_connect {
   background: url( ../images/connect-on.gif ) center center no-repeat !important;
}
.x-menu-item-icon {
	height: 22px;
	top: 1px;
}
.container-sub-grid{
	width: 70%;
	padding: 15px;
}
.container-sub-grid table{
	width: 100%;
}
.container-sub-grid table thead{
	text-align: left;
}
.container-sub-grid table thead th{
	font-weight: bold;	
}
.container-sub-grid table thead th:nth-child(3){
	width: 20%;	
}
.container-sub-grid table tr th, .container-sub-grid table tr td{
	padding: 3px;
}


.search-item {
    padding: 5px 10px;
    white-space: normal;
    color: #555;
    text-decoration: none;
    display: block;
    overflow: hidden;
}

.search-item h3 {
    display: block;
    font-size: 13px;
    font-weight: bold;
    color: #222;
    margin: 0;
    padding: 0;
}

.search-item h3 span {
    float: right;
    font-weight: normal;
    margin:0 0 5px 5px;
    width: 100px;
    clear: none;
}

.x-boundlist-item {
    line-height: normal;
}

.item_cancelado .x-grid-cell {
	background-color: #FFD39B;
}
