/**
*	@Autor: Maciel Sousa
*	@Email: macielcr7@gmail.com
**/
/*SHORTCUT*/
	.vendas-shortcut {
		background-image: url(../images/vendas48x48.png);
	}
	.caixas-shortcut {
		background-image: url(../images/vault48x48.png);
	}
	.caixa_itens-shortcut {
		background-image: url(../images/caixa48x48.png);
	}
	.orcamentos-shortcut {
		background-image: url(../images/orcamentos48x48.png);
	}
	.cores-shortcut {
		background-image: url(../images/cores48x48.png);
	}
	.atributos-shortcut {
		background-image: url(../images/atributos48x48.png);
	}
	.veiculos_manutencoes-shortcut {
		background-image: url(../images/veiculos_manutencoes48x48.png);
	}
	.veiculos_combustivel-shortcut {
		background-image: url(../images/combustivel48x48.png);
	}
	.veiculos-shortcut {
		background-image: url(../images/frota48x48.png);
	}
	.produtos-shortcut {
		background-image: url(../images/produtos48x48.png);
	}
	.calendario-shortcut {
		background-image: url(../images/calendario48x48.png);
	}
	.diversos-shortcut {
		background-image: url(../images/lista48x48.png);
	}
	.webmail-shortcut {
		background-image: url(../images/WebMail.png);
	}
	.os-shortcut {
		background-image: url(../images/os48x48.png);
	}
	.os_categorias-shortcut {
		background-image: url(../images/list48x48.png);
	}
	.os_categorias_responsavel-shortcut {
		background-image: url(../images/list48x48.png);
	}
	.os_departamentos-shortcut {
		background-image: url(../images/list48x48.png);
	}
	.os_respostas-shortcut {
		background-image: url(../images/list48x48.png);
	}
	.recibos-shortcut {
		background-image: url(../images/recibos48x48.png);
	}
	.contas_pagar-shortcut {
		background-image: url(../images/contas_pagar48x48.png);
	}
	.produtos_categorias-shortcut {
		background-image: url(../images/produtos_categorias48x48.png);
	}
	.agenda_telefonica-shortcut {
		background-image: url(../images/agenda_telefonica48x48.png);
	}
	.formas_pagto-shortcut {
		background-image: url(../images/forma_pagto48x48.png);
	}
	.vendas_pagamentos-shortcut {
		background-image: url(../images/forma_pagto48x48.png);
	}
	.unidades_medidas-shortcut {
		background-image: url(../images/unidade_medida48x48.png);
	}
	.setor_estoque-shortcut {
		background-image: url(../images/setor_estoque48x48.png);
	}
	.contratos_cartao-shortcut {
		background-image: url(../images/cartao_credito48x48.png);
	}
	.contratos_cobranca-shortcut {
		background-image: url(../images/cobranca48x48.png);
	}
	.contas_bancarias-shortcut {
		background-image: url(../images/contas_bancarias48x48.png);
	}
	.cfop-shortcut {
		background-image: url(../images/cfop48x48.png);
	}
	.feriados-shortcut {
		background-image: url(../images/feriados48x48.png);
	}
	.categoria_precos-shortcut {
		background-image: url(../images/tab_preco48x48.png);
	}
	.instaladores-shortcut {
		background-image: url(../images/instaladores48x48.png);
	}
	.produtos_marcas-shortcut {
		background-image: url(../images/marcas48x48.png);
	}
	.empresas_sistema-shortcut {
		background-image: url(../images/empresa48x48.png);
	}
	.usuarios_empresas_sistema-shortcut {
		background-image: url(../images/usuario_empresa48x48.png);
	}
	.clientes-shortcut {
		background-image: url(../images/clientes48x48.png);
	}
	.fornecedores-shortcut {
		background-image: url(../images/fornecedores48x48.png);
	}
	.fornecedores_anotacoes-shortcut {
		background-image: url(../images/list48x48.png);
	}
	.fornecedores_contato-shortcut {
		background-image: url(../images/list48x48.png);
	}
	.fornecedores_endereco-shortcut {
		background-image: url(../images/list48x48.png);
	}
	.clientes_anotacoes-shortcut {
		background-image: url(../images/list48x48.png);
	}
	.clientes_contato-shortcut {
		background-image: url(../images/list48x48.png);
	}
	.clientes_endereco-shortcut {
		background-image: url(../images/list48x48.png);
	}
	.correios_bairros-shortcut {
		background-image: url(../images/list48x48.png);
	}
	.correios_enderecos-shortcut {
		background-image: url(../images/list48x48.png);
	}
	.correios_estados-shortcut {
		background-image: url(../images/estados48x48.png);
	}
	.correios_localidades-shortcut {
		background-image: url(../images/list48x48.png);
	}
	.logs_sistema-shortcut {
		background-image: url(../images/list48x48.png);
	}
	.usuarios-shortcut {
		background-image: url(../images/usuarios48x48.png);
	}
	.perfil-shortcut {
		background-image: url(../images/perfil48x48.png);
	}

/*SHORTCUT IE6*/
	.x-ie6 .vendas-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/vendas8x48.png', sizingMethod='scale');
	}
	.x-ie6 .caixas-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/vault48x48.png', sizingMethod='scale');
	}
	.x-ie6 .caixa_itens-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/caixa48x48.png', sizingMethod='scale');
	}
	.x-ie6 .orcamentos-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/orcamentos48x48.png', sizingMethod='scale');
	}
	.x-ie6 .cores-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/cores48x48.png', sizingMethod='scale');
	}
	.x-ie6 .atributos-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/atributos48x48.png', sizingMethod='scale');
	}
	.x-ie6 .veiculos_manutencoes-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/veiculos_manutencoes48x48.png', sizingMethod='scale');
	}
	.x-ie6 .veiculos_combustivel-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/combustivel48x48.png', sizingMethod='scale');
	}
	.x-ie6 .veiculos-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/frota48x48.png', sizingMethod='scale');
	}
	.x-ie6 .produtos-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/produtos48x48.png', sizingMethod='scale');
	}
	.x-ie6 .calendario-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/calendario48x48.png', sizingMethod='scale');
	}
	.x-ie6 .os-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/os48x48.png', sizingMethod='scale');
	}	
	.x-ie6 .os_categorias-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/list48x48.png', sizingMethod='scale');
	}	
	.x-ie6 .os_categorias_responsavel-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/list48x48.png', sizingMethod='scale');
	}	
	.x-ie6 .os_departamentos-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/list48x48.png', sizingMethod='scale');
	}	
	.x-ie6 .os_respostas-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/list48x48.png', sizingMethod='scale');
	}	
	.x-ie6 .recibos-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/recibos48x48.png', sizingMethod='scale');
	}
	.x-ie6 .contas_pagar-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/contas_pagar48x48.png', sizingMethod='scale');
	}
	.x-ie6 .produtos_categorias-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/produtos_categorias48x48.png', sizingMethod='scale');
	}
	.x-ie6 .agenda_telefonica-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/agenda_telefonica48x48.png', sizingMethod='scale');
	}
	.x-ie6 .formas_pagtos-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/forma_pagto48x48.png', sizingMethod='scale');
	}
	.x-ie6 .vendas_pagamentos-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/forma_pagto48x48.png', sizingMethod='scale');
	}
	.x-ie6 .unidades_medidas-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/unidade_medida48x48.png', sizingMethod='scale');
	}
	.x-ie6 .setor_estoque-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/setor_estoque48x48.png', sizingMethod='scale');
	}
	.x-ie6 .contratos_cartao-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/cartao_credito48x48.png', sizingMethod='scale');
	}
	.x-ie6 .contratos_cobranca-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/cobranca48x48.png', sizingMethod='scale');
	}
	.x-ie6 .contas_bancarias-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/contas_bancarias48x48.png', sizingMethod='scale');
	}
	.x-ie6 .cfop-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/cfop48x48.png', sizingMethod='scale');
	}
	.x-ie6 .feriados-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/feriados48x48.png', sizingMethod='scale');
	}
	.x-ie6 .categoria_precos-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/tab_preco48x48.png', sizingMethod='scale');
	}
	.x-ie6 .instaladores-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/instaladores48x48.png', sizingMethod='scale');
	}
	.x-ie6 .produtos_marcas-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/marcas48x48.png', sizingMethod='scale');
	}
	.x-ie6 .empresas_sistema-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/empresa48x48.png', sizingMethod='scale');
	}
	.x-ie6 .usuarios_empresas_sistema-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/usuario_empresa48x48.png', sizingMethod='scale');
	}
	.x-ie6 .clientes-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/clientes48x48.png', sizingMethod='scale');
	}
	.x-ie6 .fornecedores-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fornecedores48x48.png', sizingMethod='scale');
	}
	.x-ie6 .fornecedores_anotacoes-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/list48x48.png', sizingMethod='scale');
	}
	.x-ie6 .fornecedores_contato-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/list48x48.png', sizingMethod='scale');
	}
	.x-ie6 .fornecedores_endereco-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/list48x48.png', sizingMethod='scale');
	}	
	.x-ie6 .clientes_anotacoes-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/list48x48.png', sizingMethod='scale');
	}
	.x-ie6 .clientes_contato-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/list48x48.png', sizingMethod='scale');
	}
	.x-ie6 .clientes_endereco-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/list48x48.png', sizingMethod='scale');
	}
	.x-ie6 .correios_bairros-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/list48x48.png', sizingMethod='scale');
	}
	.x-ie6 .correios_enderecos-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/list48x48.png', sizingMethod='scale');
	}
	.x-ie6 .correios_estados-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/estados48x48.png', sizingMethod='scale');
	}
	.x-ie6 .correios_localidades-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/list48x48.png', sizingMethod='scale');
	}
	.x-ie6 .logs_sistema-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/list48x48.png', sizingMethod='scale');
	}
	.x-ie6 .usuarios-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/usuarios48x48.png', sizingMethod='scale');
	}
	.x-ie6 .perfil-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/perfil48x48.png', sizingMethod='scale');
	}

/*ICON-GRID*/
	.vendas {
		background-image: url( ../images/vendas16x16.png ) !important;
	}
	.caixas {
		background-image: url( ../images/vault16x16.png ) !important;
	}
	.caixa_itens {
		background-image: url( ../images/caixa16x16.png ) !important;
	}
	.orcamentos {
		background-image: url( ../images/orcamentos16x16.png ) !important;
	}
	.cores {
		background-image: url( ../images/cores16x16.png ) !important;
	}
	.atributos {
		background-image: url( ../images/atributos16x16.png ) !important;
	}
	.veiculos_manutencoes {
		background-image: url( ../images/veiculos_manutencoes16x16.png ) !important;
	}
	.veiculos_combustivel {
		background-image: url( ../images/combustivel16x16.png ) !important;
	}
	.veiculos {
		background-image: url( ../images/frota16x16.png ) !important;
	}
	.produtos {
		background-image: url( ../images/produtos16x16.png ) !important;
	}
	.calendario {
		background-image: url( ../images/calendario16x16.png ) !important;
	}
	.os {
		background-image: url( ../images/os16x16.png ) !important;
	}
	.recibos {
		background-image: url( ../images/recibos16x16.png ) !important;
	}
	.contas_pagar {
		background-image: url( ../images/contas_pagar16x16.png ) !important;
	}
	.produtos_categorias {
		background-image: url( ../images/produtos_categorias16x16.png ) !important;
	}
	.agenda_telefonica {
		background-image: url( ../images/agenda_telefonica16x16.png ) !important;
	}
	.formas_pagto {
		background-image: url( ../images/forma_pagto16x16.png ) !important;
	}
	.vendas_pagamentos {
		background-image: url( ../images/forma_pagto16x16.png ) !important;
	}
	.unidades_medidas {
		background-image: url( ../images/unidade_medida16x16.png ) !important;
	}
	.setor_estoque {
		background-image: url( ../images/setor_estoque16x16.png ) !important;
	}
	.contratos_cartao {
		background-image: url( ../images/cartao_credito16x16.png ) !important;
	}
	.contratos_cobranca {
		background-image: url( ../images/cobranca16x16.png ) !important;
	}
	.contas_bancarias {
		background-image: url( ../images/contas_bancarias16x16.png ) !important;
	}
	.cfop {
		background-image: url( ../images/cfop16x16.png ) !important;
	}
	.feriados {
		background-image: url( ../images/feriados16x16.png ) !important;
	}
	.categoria_precos {
		background-image: url( ../images/tab_preco16x16.png ) !important;
	}
	.instaladores {
		background-image: url( ../images/instaladores16x16.png ) !important;
	}
	.produtos_marcas {
		background-image: url( ../images/marcas16x16.png ) !important;
	}
	.empresas_sistema {
		background-image: url( ../images/empresa16x16.png ) !important;
	}
	.usuarios_empresas_sistema {
		background-image: url( ../images/usuario_empresa16x16.png ) !important;
	}
	.clientes {
		background-image: url( ../images/clientes16x16.png ) !important;
	}
	.fornecedores {
		background-image: url( ../images/clientes16x16.png ) !important;
	}
	.fornecedores_anotacoes {
		background-image: url( ../images/list16x16.png ) !important;
	}
	.fornecedores_contato {
		background-image: url( ../images/list16x16.png ) !important;
	}
	.fornecedores_endereco {
		background-image: url( ../images/list16x16.png ) !important;
	}
	.clientes_anotacoes {
		background-image: url( ../images/list16x16.png ) !important;
	}
	.clientes_contato {
		background-image: url( ../images/list16x16.png ) !important;
	}
	.clientes_endereco {
		background-image: url( ../images/list16x16.png ) !important;
	}
	.correios_bairros {
		background-image: url( ../images/list16x16.png ) !important;
	}
	.correios_enderecos {
		background-image: url( ../images/list16x16.png ) !important;
	}
	.correios_estados {
		background-image: url( ../images/estados.png ) !important;
	}
	.correios_localidades {
		background-image: url( ../images/list16x16.png ) !important;
	}
	.logs_sistema {
		background-image: url( ../images/list16x16.png ) !important;
	}
	.usuarios {
		background-image: url( ../images/usuarios2.png ) !important;
	}
	.perfil {
		background-image: url( ../images/perfil.png ) !important;
	}
	.adiantamentos {
		background-image: url( ../images/adiantamentos16x16.png ) !important;
	}
	.estorno_adiantamento {
		background-image: url( ../images/estorno16x16.png ) !important;
	}
	.estorno_adiantamento1 {
		background-image: url( ../images/estorno.16x16.png ) !important;
	}
	.vincular_adiantamento {
		background-image: url( ../images/vincular_adiantamento16x16.png ) !important;
	}
	.ver_totais {
		background-image: url( ../images/ver_total16x16.png ) !important;
	}
	.codigo_barras {
		background-image: url( ../images/barcode16x16.png ) !important;
	}
	.converte_venda {
		background-image: url( ../images/doc_convert16x16.png ) !important;
	}
	.detalhar_vinculo_adiantamento {
		background-image: url( ../images/detalhar_vinculo_adiantamento16x16.png ) !important;
	}