/* CSS Document */
.titulo_pagina{
height: 30px;
font-weight: bold;
color: #FFFFFF;
background-color: #336699;
}

a{
font-family:  Tahoma, Verdana, Arial;
font-size: 11px;
color: black;
text-decoration: none;
}
a:hover{
color: black;
text-decoration: underline;
}
a:visited {
  color: black;
}
a:active {
  color: black;
}
.texto{
font-family:  Tahoma, Verdana, Arial;
font-size: 12px;
color: #000000;
}
.texto2{
font-family:  Tahoma, Verdana, Arial;
font-size: 11px;
color: #000000;
}

.texto3{
font-family:  Tahoma, Verdana, Arial;
font-size: 12px;
color: #000000;
text-transform:uppercase;
}
.texto4{
font-family:  Tahoma, Verdana, Arial;
font-size: 12px;
color: #000000;
text-transform:lowercase;
}

.texto5{
font-family:  Tahoma, Verdana, Arial;
font-size: 10px;
color: #000000;
}

.texto6{
font-family:  Tahoma, Verdana, Arial;
font-size: 11px;
color: #000000;
text-transform:uppercase;
}

.texto7{
font-family:  Arial, Tahoma, Verdana;
font-size: 10px;
color: #000000;
text-transform:uppercase;
}

.titulo_grid2{
font-family:  Tahoma, Verdana, Arial;
font-size: 11px;
height: 20px;
color: #000000;
background-color: #E6E6E6;
}

.titulo_grid3{
font-family:  Tahoma, Verdana, Arial;
font-size: 12px;
font-weight: bold;
height: 20px;
color: #000000;
background-color: #E6E6E6;
text-transform:uppercase;
}

.titulo_grid4{
font-family:  Tahoma, Verdana, Arial;
font-size: 11px;
font-weight: bold;
height: 20px;
color: #000000;
background-color: #E6E6E6;
text-transform:uppercase;
}