@charset "utf-8";
/* CSS Document */

	<!--
		body{-webkit-font-smoothing:antialiased;font:11px / 1.231 HelveticaNeue,helvetica,arial,clean,sans-serif;color:#484848}
		a{color:#083772;text-decoration:none;}
		a:hover{color:#0464bb;}

		.caixa_cores{width:15px;height:15px;border:1px solid black;}
		.caixa_cores_combo{width:15px;height:15px;border:1px solid black;float:left; margin-right: 4px;}

		.build_sys{font-size: 12px!important;color: #666!important;}

		.verde{color: #00B050 !important;font-weight: bold;}
		.vermelho{color: #FF4444 !important;font-weight: bold;}
		.amarelo{color: #FFBB33 !important;font-weight: bold;}

		.buttonFilter{color: blue;}


		.title{color:#66ab16;font-size:24px !important; letter-spacing:-1px;line-height:41px;margin-left:5px !important;}
		.nome{font-weight:bold;}
		.msg_user{font-size: 11px; color: #333;}

		.none div{
			background-image: none !important;
			background-color: red !important;
		}

		.guides{width:600px !important;line-height:1.7em;}

		.legend{border-radius:5px;-moz-border-radius:5px;background-color:#f7f7f7;border:1px solid #ebebeb;padding:0 15px 15px 10px;margin:0 20px 10px 0;width:300px;}
		.legend .icn{padding-left:22px}
		.legend a{display:block}
		.legend h4{font-family:HelveticaNeue,Helvetica,Arial,sans-serif;font-size:90%;padding:11px 0 5px 0;text-transform:uppercase;color:#999}

		.lft{float:left;width:220px}
		.mid{float:left;width:180px;margin-left:20px}
		.right{margin-left:410px}

		.lft a,.mid a,.right a{display:block;height:32px;margin:10px 0;padding-left:40px}

		.n_doc{font-size:14px; font-weight:bold;}


		.ativar{background:url("../images/ativar_instalacao.png") no-repeat}
		.bt_next{background:url("../images/visualiza.png") no-repeat}
		.repeat{background:url("../images/repeat.png") no-repeat}
		.bt_earth{background:url("../images/weblink.png") no-repeat}

		.bt_bloq{background:url("../images/bloq.gif") no-repeat}
		.bt_acao{background:url("../images/acao.png") no-repeat}
		.bt_add{background:url("../images/add.png") no-repeat}
		.bt_reset{background:url("../images/reset.png") no-repeat 3px}
		.bt_edit{background:url("../images/edit.png") no-repeat}
		.bt_del{background:url("../images/delete.gif") no-repeat}
		.bt_pdf{background:url("../images/pdf.png") no-repeat}
		.bt_xls{background:url("../images/xls.png") no-repeat}
		.bt_prod{background:url("../images/prod.gif") no-repeat}
		.bt_recover{background:url("../images/logout.png") no-repeat}
		.bt_close{background:url("../images/cross.gif") no-repeat}
		.bt_login{background:url("../images/connect.png") no-repeat}
		.bt_envia{background:url("../images/envia.png") no-repeat}
		.bt_modulo{background:url("../images/application_view_list.png") no-repeat}
		.bt_save{background:url("../images/save.png") no-repeat}
		.bt_cancel{background:url("../images/cross.gif") no-repeat}
		.information{background-image:url('../images/information.png') !important;}
		.acao{background: url('../images/acao.png') center no-repeat !important;}
		.modulo{background: url('../images/modulo.png') no-repeat center !important;}
		.config{background: url('../images/cog.png') no-repeat !important;}
		.cad{background: url('../images/cad.png') no-repeat center !important;}
		.cad2{background: url('../images/cad.png') no-repeat !important;}
		.grid{background: url('../images/grid.png') no-repeat !important;}
		.grid2{background: url('../images/grid.png') no-repeat !important;}
		.logout{background:url("../images/disconnect.png") no-repeat !important;}
		.logout2{background:url("../images/disconnect.png") no-repeat !important;}
		.pass{background:url("../images/key.png") no-repeat center !important;}
		.help{background:url("../images/help.png") no-repeat center !important;}

		/*Icones do Menu e Grid*/
		.vender{background:url("../images/vender.png") no-repeat !important;}
		.agendamento{background:url("../images/agendamento.png") no-repeat !important;}
		.tecnologia{background:url("../images/tecnologia.png") no-repeat !important;}
		.usuario{background:url("../images/usuario.png") no-repeat !important;}
		.gerenciar{background:url("../images/gerenciar.png") no-repeat !important;}
		.logradouro{background:url("../images/logradouro.png") no-repeat !important;}
		.logradouro_tipo{background:url("../images/logradouro_tipo.png") no-repeat !important;}
		.empresa{background:url("../images/empresa.png") no-repeat !important;}
		.cidade{background:url("../images/cidade.png") no-repeat !important;}
		.alterar_senha{background:url("../images/alterar_senha.png") no-repeat !important;}
		.bt_refresh{background:url("../images/refresh.gif") no-repeat !important;}
		/*Icones do Menu e Grid*/

		.none{display:none !important;}

		.bt_lupa{background:url("../images/lupa.png") no-repeat}
		.bt_atribuir_porta{background:url("../images/atribuir_porta.png") no-repeat}

		#poweredby{position: absolute;top: 13px;right: 25px;z-index: 15000;/*IE 5-7*/filter: alpha(opacity=70);/*Netscape*/-moz-opacity: 0.7;/*Safari 1.x*/-khtml-opacity: 0.7;/*Good browsers*/opacity: 0.7;}
		#poweredby div{position: relative;width: 150px;height: 25px;background-image: url('../images/powered-by-ext-js.png');background-repeat: no-repeat;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/powered-by-ext-js.png', sizingMethod='scale');}

		*{padding: 0;margin: 0;font-family: Tahoma, Geneva, sans-serif;font-size: 11px;}

		.x-form-empty-field{color: black!important;}

		.ext-ie .x-fieldset{padding-top:5px !important;}

		#loading-mask{background-color:white;height:100%;position:absolute;left:0;top:0;width:100%;z-index:40000;}
		#loading{
			height:auto;
			position:absolute;
			width:520px;
			left:35%;
			top:40%;
			z-index:40001;
		}
		#loading a {color:#225588;}
		#loading .loading-indicator{background:white;color:#444;font:bold 13px Helvetica, Arial, sans-serif;height:auto;margin:0;padding:10px;}
		#loading-msg {font-size: 10px;font-weight: normal;}

		.x-menu-item-icon {
			height: 22px;
			top: 1px;
		}

		
	-->
