.spc-icon-btn, .spc-txt-btn {
    padding: 4px 6px !important;
}

.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }

#top-nav {
    /*box-shadow: 0 4px 4px rgba(0,0,0,0.2);*/
    margin-bottom: 10px;
    padding: 6px;
}

#cal-status {
    padding: 10px;
}

#view-buttons {
    float: left;
    margin-left: 3px;
    font-size: 13px !important;
    font-weight: normal !important;
}

#cal-utils {
    float: right;
    margin-right: 3px;
}

#curdate {
    float: left;
    margin: 5px 0 0 3px;
    font-size: 14px;
}

#pager {
    float: right;
    margin-right: 3px;
}

#pager a {

}

#pager .ui-btn-inner {

}

.ui-controlgroup, fieldset.ui-controlgroup {
    margin: 6px 0 !important;
}

.ui-controlgroup .ui-checkbox label, .ui-controlgroup .ui-radio label {
    font-size: 13px !important;
}

#content {
    height: 200px !important;
}

/*** Month Grid ***/
#spcm-month-grid {
    width: 100%;
    border-collapse: collapse;
}

#spcm-month-grid th {
    font-size: 15px;
}

#spcm-month-grid td {

    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.spcm-month-grid-day {
    position: relative;
    padding: 10px;
    margin: 0;
    border: 0 !important;
}

.spcm-month-grid-day.today {
    background: none !important;
    background-color: #94A2BE !important;
}

.spcm-month-grid-day.passive {
    color: #999 !important;
}

#bottom-nav-grid {
    width: 100%;
}

#bottom-nav-grid td {
    width: 50%;
    vertical-align: middle;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.t-a-center {
    text-align: center;
}

.t-a-right {
    text-align: right;
}

.spcm-month-grid-day .event-count {
    position: absolute;
    bottom: 0;
    right: 1px;
    font-size: 9px;
}

.month-cal-clicked-day {
    background: none !important;
    background-color: #ACD1E9 !important;
}

#events-list {
    padding: 0;
    margin: 10px 0;
}

.events-list {
    width: 100%;
    list-style-type: none;
    margin-bottom: 20px;
    padding: 0 !important;
}

.events-list .spcm-event {
    margin: 0 !important;
    padding: 0;
    cursor: pointer;
}

.events-list h3 {
    font-size: 15px;
    border: 0;
}

.events-list tr:last-child td {
    border: 0 !important;
}

.events-list-time {
    vertical-align: middle;
    width: 30%;
    padding: 12px 6px;
    font-weight: bold;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
}

.events-list-title {
    padding: 12px 6px;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
}

#username {
    font-size: 11px;
    padding: 6px;
    border-width: 0 0 1px 0;
}

/*** Create event dialog ***/
#create-event-dialog-table,
#edit-event-dialog-table {
    width: 100%;
}

#create-event-dialog-table td,
#edit-event-dialog-table td {
    padding: 6px;
    vertical-align: middle;
    text-align: center;
}

#create-event-dialog input,
#create-event-dialog textarea,
#edit-event-dialog input,
#edit-event-dialog textarea {
    padding: 9px 3px !important;
    color: #999;
}

.date-input, .time-input {
    padding: 9px !important;
}

/*** Datepicker ***/
#datepicker-curdate {
    font-weight: bold;
    margin-top: 10px;
}

.hidden {
    display: none;
}

/*** Timepicker ***/

#timepicker-table {
    width: 100%;
    margin: 10px;
}

#timepicker-table td {
    text-align: center;
    vertical-align: middle;
}

#timepicker-table td a {
    margin: 0 auto;
}

#timepicker-hour,
#timepicker-minute {
    text-align: center;
    font-weight: bold;
}

.ui-btn-inner {
    border: 0;
}

.invisible {
    visibility: hidden;
}

/*** public-calendar ***/

#display-event-dialog {
    font-size: 14px;
}

#display-event-dialog-title {
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
}

#display-event-dialog-datetime {
    font-weight: bold;
    font-size: 11px;
    text-align: right;
    margin-bottom: 10px;
}

#display-event-dialog-description {
    margin: 10px 0;
}

#display-event-dialog-location,
#display-event-dialog-repeat {
    margin: 6px 0;
    font-size: 12px;
}

.spc-dialog-buttons .ui-btn-text {
    font-weight: bold;
    font-size: 14px;
}

.spc-dialog-buttons .ui-btn-inner {
    padding: 15px !important;
}

.spc-dialog-buttons .ui-btn {
    border-right-width: 1px !important;
}