* {
    margin: 0;
    padding: 0;
}

body {
     font-family: Arial, sans-serif, Verdana;
     font-size: 12px;
     line-height: 20px;
     color: #333;
}

 ul {
     list-style-type: none;
 }

 a {
    color: black;
 }

 .hidden {
     display: none;
 }

 #ui-datepicker-div {
     display: none;
 }

 div#print-container {
     width: 210mm;
     position: relative;
 }

 #print-container .app {
     display: none;
 }

 div#print-head {
     margin: 50px;
 }

 div#print-body {
     margin-left: 50px;
 }

 div#print-bottom {

 }

 ul#print-event-list > li {
     margin-bottom: 6px;
     margin-bottom: 20px;
     font-weight: bold;
 }

 ul#print-event-list > li > ul {
    margin-left: 6px;
 }

 ul#print-event-list > li > ul > li {
    padding: 5px;
    margin: 10px 5px;
    font-weight: normal;
    position: relative;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.group-date {
    border-bottom: 1px solid #999;
    margin-bottom: 6px;
    font-size: 13px;
    color: #333;
    font-weight: bold;
}

.title {
    font-size: 12px;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
}

.calendar {
    position: absolute;
    top: 1px;
    right: 1px;
    font-size: 11px;
    font-weight: bold;
    margin: 9px;
}

.date {
    float: right;
    font-size: 11px;
    font-weight: bold;
    color: #999;
    margin-top: -14px;
}

.bold {
    font-weight: bold !important;
}

.striped-row {
    background-color: #f5f5f5;
 }

  /*** Contacts Application ***/

  #contact-form-table {
      width: 100%;
      margin: 10px;
  }

 #contact-form-table td {
     padding: 6px;
     vertical-align: top;
 }

 #contact-form-header {
     padding: 0 20px;
 }

 .contact-form-section-cell {
     vertical-align: top;
 }

 .contact-form-section {
     margin: 15px;
 }

 .contact-form-section-table {
     width: 100%;
 }

 .contact-form-section-table caption {
     text-align: left;
 }

 .contact-form-section-table td {
     padding: 6px;
 }

 .contact-form-section-table td:first-child {
     font-weight: bold;
     color: #444;
     text-align: right;
     width: 100px;
 }

 .contact-form-section-table caption {
     font-weight: bold;
     border-bottom: 1px solid #eee;
     padding: 6px;
     color: #999;
 }

 #contact-form-group-tags {
     display: inline-block;
     font-weight: bold;
     color: #666;
     margin-left: 15px;
 }